#!/usr/bin/make -f

export DH_VERBOSE = 1

.ONESHELL:
include /etc/os-release

STATIC := 0 # can't use golang tracker-rules if enabled
BTFHUB := 0 # will include tailored BTF files from btfhub

TRACKER_MAKE = BTFHUB=$(BTFHUB) STATIC=$(STATIC) make

GO_PATH :=

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk
include /usr/share/dpkg/pkg-info.mk

%:
	dh $@ --parallel

# do not call "clean" directly not to lose ./dist directory
override_dh_auto_clean:
	$(TRACKER_MAKE) clean

override_dh_auto_configure:

override_dh_auto_build:
	$(TRACKER_MAKE) clean
	$(TRACKER_MAKE) all

override_dh_auto_install:
	# tracker
	mkdir -m 0755 -p ./debian/tracker/usr/bin/
	mkdir -m 0755 -p ./debian/tracker/usr/lib/tracker/
	install -m 0755 ./dist/tracker ./debian/tracker/usr/lib/tracker/
	ln -s /usr/lib/tracker/tracker ./debian/tracker/usr/bin/tracker
	mkdir -m 0755 -p ./debian/tracker/usr/lib/tracker/signatures/
	install -m 0644 ./dist/signatures/* ./debian/tracker/usr/lib/tracker/signatures/
	# tracker-ebpf
	mkdir -m 0755 -p ./debian/tracker-ebpf/usr/bin/
	install -m 0755 ./dist/tracker-ebpf ./debian/tracker-ebpf/usr/bin/
	# tracker-rules
	mkdir -m 0755 -p ./debian/tracker-rules/usr/bin/
	mkdir -m 0755 -p ./debian/tracker-rules/usr/lib/tracker/
	install -m 0755 ./dist/tracker-rules ./debian/tracker-rules/usr/lib/tracker/
	ln -s /usr/lib/tracker/tracker-rules ./debian/tracker-rules/usr/bin/tracker-rules
	# signatures
	mkdir -m 0755 -p ./debian/tracker-rules/usr/lib/tracker/signatures/
	install -m 0644 ./dist/signatures/* ./debian/tracker-rules/usr/lib/tracker/signatures/
ifeq ($(STATIC),1)
	rm ./debian/tracker-rules/usr/lib/tracker/signatures/*.so
endif
